@import "tailwindcss";

@theme {
  --color-whatsapp-green: #00a884;
  --color-whatsapp-bg: #ece5dd;
  --color-whatsapp-light: #f0f2f5;
  --color-whatsapp-dark: #111b21;
  --color-message-in: #fff;
  --color-message-out: #d9fdd3;
}

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}